@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

:root{
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: #ffa61e;
  }
  
  #centro {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37553b;
    color: white;
    font-size: 17px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: 10px auto; /* Use "auto" para o eixo X */
    height: 60px;
    max-width: 485px; /* Use "max-width" para garantir que o botão não fique muito grande em telas menores */
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .logo2 {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 30px;
    height: auto;
    display: block;
    margin: 10px auto; /* Use "auto" para centralizar a imagem */
  }
  

  